.speaker-card-small-text-1 {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  font-size: 26px;
  line-height: 160%;
}

.speaker-card-small-text-2 {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.speaker-card-small-text-3 {
  font-family: "Gordita-Regular";
  font-size: 26px;
  line-height: 160%;
}

.speaker-card-small-text-4 {
  font-family: "Gordita-Regular";
  font-size: 18px;
  line-height: 29px;
}



.speaker-card-large-text-1 {
  font-family: "Gordita-Bold";
  font-size: 41px;
  line-height: 65px;
  letter-spacing: 0em;
}
.speaker-card-large-text-2 {
  font-family: "Gordita-Bold";
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0em;
}
.speaker-card-large-text-3 {
  font-family: "Gordita-Regular";
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0em;
}
.speaker-card-large-text-4 {
  font-family: "Gordita-Regular";
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0em;
}

.speaker-card-tag-text {
  font-family: "Gordita-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}


.speaker-card-bg-container {
  position: absolute;
  display: grid;
  grid-template-columns: auto 16px;
  grid-template-rows: 16px auto;
}

.speaker-card-bg {
  background-color: rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(10px);
}

.speaker-card-container {
  position: relative;
  height: max-content;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: auto 16px;
  grid-template-rows: 16px auto;
  /* overflow: hidden */
}

.speaker-card-wrapper {
  display: grid;
  grid-template-columns: auto 180px;
  width: 480px;
  grid-gap: 16px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(10px);
}

.speaker-card-content {
  margin-top: 24px;
  margin-left: 24px;
  display: grid;
  grid-gap: 36px;
  margin-bottom: 24px;
  position: relative;
}

.speaker-card-info {
  display: grid;
  grid-gap: 8px;
}

.speaker-card-tags-container {
  height: 45px;
  position: relative;
}

.speaker-card-tags-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 12px;
  position: absolute;
  left: 0;
}

.speaker-card-tags {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 100px;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
}

.symbol {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 100px;
}

.opening {
  background-color: #fbbc43;
}

.talks {
  background-color: #90f78a;
}

.keynote {
  background-color: #388df7;
}

.speaker-card-img {
  position: absolute;
  right: -16px;
  top: -16px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
}

.speaker-card-img > img {
  width: 180px;

  object-fit: cover;
}

.speaker-card-arrow {
  position: absolute;
  width: 72px;
  height: 72px;
  right: -16px;
  top: 140px;
}

.speaker-card-arrow > img {
  width: 72px;
  height: 72px;
}

.speaker-list-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.speaker-list-nav {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 80px;
  margin-bottom: 40px;
}

.speaker-list-nav-list-selected {
  font-family: "Gordita-Bold";
  font-size: 32px;
  line-height: 51px;
  letter-spacing: 0em;
  border-bottom: 2px solid #141415;
  cursor: pointer;
}

.speaker-list-nav-list-unselected {
  font-family: "Gordita-Regular";
  font-size: 32px;
  line-height: 51px;
  letter-spacing: 0em;
  opacity: 0.4;
  cursor: pointer;
}

.speaker-list-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 120px;
  grid-template-rows: repeat(8, 28px 72px auto 72px);
}

.first {
  grid-column: 1;
  grid-row: 1 / 3;
}

.second {
  grid-column: 2;
  grid-row: 3 / 5;
}

.third {
  grid-column: 1;
  grid-row: 5 / 7;
}

.fourth {
  grid-column: 2;
  grid-row: 7 / 9;
}

.fifth {
  grid-column: 1;
  grid-row: 9 / 11;
}

.sixth {
  grid-column: 2;
  grid-row: 11 / 13;
}

.seventh {
  grid-column: 1;
  grid-row: 13 / 15;
}

.eighth {
  grid-column: 2;
  grid-row: 15 / 17;
}

.nineth {
  grid-column: 1;
  grid-row: 17 / 19;
}

.tenth {
  grid-column: 2;
  grid-row: 19 / 21;
}

.eleventh {
  grid-column: 1;
  grid-row: 21 / 23;
}

.twelveth {
  grid-column: 2;
  grid-row: 23 / 25;
}

.thirteenth {
  grid-column: 1;
  grid-row: 25 / 27;
}

.fourteenth {
  grid-column: 2;
  grid-row: 27 / 29;
}

.fifteenth {
  grid-column: 1;
  grid-row: 29 / 31;
}

.sixteenth {
  grid-column: 2;
  grid-row: 31 / 33;
}

.speaker-page-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: auto max-content;
}

.speaker-page-info {
  display: grid;
  grid-gap: 4px;
  margin-top: 30px;
  margin-bottom: 24px;
}

.speaker-page-img {
  width: 283px;
  height: 283px;
  background: #d7d7d7;
  overflow: hidden;
}

.speaker-page-img > img {
  object-fit: cover;
}

.speaker-page-content-container {
  margin-bottom: 160px;
}

.speaker-page-content-title {
  margin-bottom: 16px;
}

.speaker-page-content-wrapper {
  display: grid;
  grid-gap: 40px;
  max-width: 940px;
}

.speaker-page-nav-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 120px;
}

.speaker-bg-img {
  position: absolute;
  pointer-events: none;
  z-index: -10;
}

@media (max-width: 1160px) {
  .speaker-list-container {
    grid-template-columns: 1fr;
    grid-row-gap: 48px;
    grid-template-rows: auto;
  }

  .first,
  .third,
  .fifth,
  .seventh,
  .nineth,
  .eleventh,
  .thirteenth,
  .fifteenth {
    grid-column: 1;
    grid-row: auto;
    justify-self: left;
  }

  .second,
  .fourth,
  .sixth,
  .eighth,
  .tenth,
  .twelveth,
  .fourteenth,
  .sixteenth {
    grid-column: 1;
    grid-row: auto;
    justify-self: right;
  }

  .speaker-list-nav-list-selected {
    font-size: 24px;
    line-height: 38.4px;
  }

  .speaker-list-nav-list-unselected {
    font-size: 24px;
    line-height: 38.4px;
  }
}

@media (max-width: 480px) {
  .speaker-card-small-text-1 {
    font-size: 20px;
  }

  .speaker-card-small-text-2 {
    font-size: 13px;
  }
  .speaker-card-small-text-3 {
    font-size: 18px;
  }


  .first,
  .third,
  .fifth,
  .seventh,
  .nineth,
  .eleventh,
  .thirteenth,
  .fifteenth,
  .second,
  .fourth,
  .sixth,
  .eighth,
  .tenth,
  .twelveth,
  .fourteenth,
  .sixteenth {
    grid-column: 1;
    grid-row: auto;
    justify-self: stretch;
  }
  .speaker-card-img {
    right: -10px;
    top: -10px;
    width: 120px;
    height: 120px;
  }


.speaker-card-arrow {

  right: -10px;
  top: 100px;
}

  .speaker-card-img > img {
    width: 120px;
    object-fit: cover;
  }

  .speaker-card-container {
    grid-template-columns: auto 10px;
    grid-template-rows: 10px auto;
    
  }

  .speaker-list-container {
    grid-row-gap: 40px;
    margin-bottom: 184px;
  }

  .speaker-card-wrapper {
    display: grid;
    grid-template-columns: auto 120px;
    /* width: 480px; */
    grid-gap: 16px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(10px);
    width: 100%;
  }

  .speaker-card-tag-text {
    font-size: 15px
  }


}